%link(rel="stylesheet" type="text/css" href="/css/table.css")
%table>
  %th
    %tr 
      %td Hostname
      %td IP
      %td ITG ID
      %td Room
      %td UID
      %td Notes
      %td Enabled?
  %tb>
    %tr 
      %td= object['hostname']
      %td= object['ip'] == "" ? "Dynamic" : object['ip']
      %td= object['itgid']
      %td= object['room'] == "" ? "Go find it!" : object['room']
      %td= object['uid'] == "" ? "Figure out who owns me!" : object['uid']
      %td= object['notes'] == "" ? "This entry needs some notes." : object['notes']
      %td= object['enabled']
