%div
  %table>
    %th
      %tr 
        %td Hostname
        %td IP
        %td ITG ID
        %td Room
        %td UID
        %td Notes
        %td Enabled?
    %tb>
      %tr 
        %td= object['hostname']
        %td= object['ip']
        %td= object['itg_id']
        %td= object['room']
        %td= object['uid']
        %td= object['notes']
        %td= object['enabled']
